extends layout

block content
	h3 Найдено #{total} идей по запросу #{q}
	hr
	br
	if(results.length>0)
		- each post in results
			li.article
				#tags
					a(href='/tags/' + post._source.tags[0]) ##{post._source.tags[0]}
					|&nbsp;
					if(post._source.tags.length > 1)
						small(style='display:inline-block;') + #{post._source.tags.length-1} Ещё
				a(href='/ideas/' + post._source.num )

					h2 #{post._source.title}
				#postInfo
					small(style='display:inline-block') Комментариев: #{post._source.comments.length}
					|&nbsp;
					|&nbsp;
					small(style='display:inline-block') Добавлена #{post._source.addtime}
					|&nbsp;
					|&nbsp;
					small(style='display:inline-block') Просмотров: #{post._source.reviews}
				br
				hr
				br
		.paginator !{paginator}
	else
		p Ничего не найдено.
